@page "/orders/NoDriver"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>No Available Driver</h3>
<h4>Please Try Again Later.</h4>

<button type="submit" class="btn btn-success btn-block" @onclick="@Submit">
	Back to Order
</button>



@code {
	async Task Submit()
	{
		_navManager.NavigateTo("/orders/");
	}
}