@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Foodies!</h1>

Welcome to Yeokidz's Deliveries.

<br>

Here are some recommendations from us to you!
<br>
<br />

<a href="https://jollibeesg.org/">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/84/Jollibee_2011_logo.svg/1200px-Jollibee_2011_logo.svg.png" style="width: 200px; height: 200px;" alt="Jolibee" />
</a>



<a href="https://playmade.oddle.me/en_SG/">
    <img src="https://eatbook.sg/wp-content/uploads/2020/07/1-for-1-Playmade-2.jpg" style="width: 200px; height: 200px;" alt="PlayMade" />
</a>


<a href="https://kopiboy.sg/">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgTcwLFmlSU_Wqdar4GbJjE-MyLO8KW1S8iw&usqp=CAU" style="width: 200px; height: 200px;" alt="Jolibee" />
</a>

<a href="https://www.wingstop.com.sg/">
    <img src="https://www.wingstop.com.sg/content/staging/menu/category_20-Big-Night-In-Bundle.png" style="width: 200px; height: 200px;" alt="Jolibee" />
</a>

<br />
