@page "/promocodes/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View PromoCode</h3>
<FormComponent promocode="promocode" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    PromoCode? promocode = new PromoCode();

    protected async override Task OnParametersSetAsync()
    {
        promocode = await
        _client.GetFromJsonAsync<PromoCode>($"{Endpoints.PromoCodesEndpoint}/{id}");
    }
}